@import "../globals";

.popup-content.chapter-select-content {
  background-color: red;
  margin: auto;
  background: $white;
  width: 70%;
  height: 75%;
  border-radius: 2.5rem;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.popup-arrow {
  color: $white;
}

[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  backdrop-filter: brightness(0.5) blur(5px);
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
