// =============================================================================
// Colors
// =============================================================================
$black: #000000;
$white: #ffffff;

$light-blue: #489cff;
$dark-blue: #326db2;
$gold: #bda055;
$dark-gold: #5c4e2a;
$yellow: #ffea2f;
$dark-yellow: #7d7317;
$dark-grey: #1b1b1b;
$darkest-grey: #0d0d0d;
