@import "../../../../styles/globals";

.story-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.animation {
  width: 100%;
}

.scene-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  padding: 1rem;
}

.scene-selector-btn {
  background-color: $gold;
  border-color: $dark-gold;
}

.back-btn {
  margin-bottom: 1rem;
}

.btn {
  position: absolute;
  z-index: 15;

  &:hover {
    cursor: pointer;
  }

  &-back {
    top: 1rem;
    left: 1rem;
  }

  &-audio {
    top: 1rem;
    right: 1rem;
  }

  &-chapter {
    bottom: 1rem;
    left: 1rem;
  }

  &-pause {
    bottom: 1rem;
    left: 50%;
  }
  &-pause.hidden {
    opacity: 0;
  }

  &-language {
    bottom: 1rem;
    right: 1rem;
  }
}
