@import "../../../../styles/globals";

.scene-select-container {
  display: flex;
  justify-content: center;
}

.modal {
  h2 {
    color: $gold;
  }
}

.scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;

  &-thumbnail-container {
    border-radius: 1rem;
    width: 100%;
    height: 100%;

    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-index {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.carousel-container {
  width: 100%;
}
